{% extends 'base.html' %}
{% block body %}
    {% include 'gap/comment-cart.html' %}

    {% for comment in comments %}
        <div class="card">
            <div class="card-header">
                {{ comment.author }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Like {{ comment.like_count }}</h5>
                <p class="card-text">{{ comment.body }}</p>
                <a href="#" class="btn btn-primary">Like</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}